body {
	background: url(https://i.pinimg.com/originals/97/7f/be/977fbe4bceded3d36b9b39b812cb94af.jpg) no-repeat center; /*"fixed" value could be added only with "background" property*/
	background-size: cover;
	color: #fff;
}
/*
.main {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
*/