
.container {
    max-width: 600px;
}


/***MAIN***/
.main h1 {
	font-size: 40px;
	margin: 0 0 20px 0;
}

form input.form-control {
	border: 0px;
	border-radius: 0px;
}

.main .btn {
	margin-top: 30px;
	color: #fff;
	background: orange;
	border-radius: 0px;
}

.main .btn:hover {
    background-color: red;
    
}