
#logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
    text-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

a {
    padding: 5px 10px;
    background-color: #333;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff !important;
    font-size: 20px;
    text-align: center;
}

a:hover { 
	background-color: red; /*had to add "!importan" to overide the others*/
    transition: background .5s;
}
 


/* /* {
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
} */


